.single-blog-area {
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
}

@media (min-width: 1200px) {
    h1.ag-header {
        font-size: 88px;
        text-transform: uppercase;
        font-weight: bold;
    }
    .demo .container {
        max-width: 1280px;
    }
    .hero-section img {
        max-width: 1o0%;
    }
    .spec-ml {
        margin-left: -50px
    }
    .hero-section.gradient img {
        margin-bottom: -300px;
        margin-left: -100px
    }
    .hero-section .curved {
        max-width: 100%;
        margin-top: 30px
    }
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.blog_thumbnail img {
    width: 100%;
}

.news .news-post .news-post-meta {
    border-top: 1px solid #f0f0f0;
    padding: 10px 20px;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
}

.news .news-post .news-post-meta a {
    font-size: 13px;
    margin-right: 10px;
    margin-bottom: 20px;
    color: #b3b3b3;
}

.news .news-post .news-post-meta a i {
    display: inline-block;
    margin-right: 5px;
    color: #c99f3d
}

.news .news-post .news-post-meta a:hover,
.news .news-post .news-post-meta a:active,
.news .news-post .news-post-meta a:focus {
    text-decoration: none;
}

.news .news-post .news-post-meta a:hover {
    color: #3b61b9;
}

.single-blog-area {
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
}

.post-meta {
    margin-top: 20px
}

.post-meta p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    text-transform: uppercase;
}

.post-meta p a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 30px;
}

.comment_area .comment-content .comment-meta .post-author {
    margin-bottom: 15px;
    display: block;
    color: #c50e23;
}

.post-title {
    margin-bottom: 20px;
    display: block;
}

.more-btn {
    position: relative;
    z-index: 1;
    min-width: 160px;
    height: 48px;
    line-height: 48px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    background: #c50e23;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}

.more-btn:hover {
    background-position: right center;
    color: #fff;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    outline: none;
}

a {
    color: #c50e23;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

* {
    margin: 0;
    padding: 0;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

user agent stylesheet a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}