.single-blog-area {
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
}

@media (min-width: 1200px) {
    h1.ag-header {
        font-size: 88px;
        text-transform: uppercase;
        font-weight: bold;
    }
    .demo .container {
        max-width: 1280px;
    }
    .hero-section img {
        max-width: 1o0%;
    }
    .spec-ml {
        margin-left: -50px
    }
    .hero-section.gradient img {
        margin-bottom: -300px;
        margin-left: -100px
    }
    .hero-section .curved {
        max-width: 100%;
        margin-top: 30px
    }
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.blog_thumbnail img {
    width: 100%;
}

.news .news-post .news-post-meta {
    border-top: 1px solid #f0f0f0;
    padding: 10px 20px;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
}

.news .news-post .news-post-meta a {
    font-size: 13px;
    margin-right: 10px;
    margin-bottom: 20px;
    color: #b3b3b3;
}

.news .news-post .news-post-meta a i {
    display: inline-block;
    margin-right: 5px;
    color: #c99f3d
}

.news .news-post .news-post-meta a:hover,
.news .news-post .news-post-meta a:active,
.news .news-post .news-post-meta a:focus {
    text-decoration: none;
}

.news .news-post .news-post-meta a:hover {
    color: #3b61b9;
}

.single-blog-area {
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
}

.post-meta {
    margin-top: 20px
}

.post-meta p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    text-transform: uppercase;
}

.post-meta p a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 30px;
}

.comment_area .comment-content .comment-meta .post-author {
    margin-bottom: 15px;
    display: block;
    color: #c50e23;
}

.post-title {
    margin-bottom: 20px;
    display: block;
}

.more-btn:hover {
    background-position: right center;
    color: #fff;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    outline: none;
}

a {
    color: #c50e23;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

* {
    margin: 0;
    padding: 0;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

user agent stylesheet a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.more-btn {
    position: relative;
    z-index: 1;
    min-width: 160px;
    height: 48px;
    line-height: 48px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700 !important;
    color: #fff !important;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    background: linear-gradient(135deg, rgb(252, 212, 36) 0%, rgb(156, 13, 3) 100%)!important;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}

.more-btn:hover {
    background-position: right center;
    color: #fff;
}

.more-btn.orange {
    background-image: -webkit-linear-gradient(to right, #c99f3d 0, #c99f3d 51%, #c99f3d 100%);
    background-image: linear-gradient(to right, #c99f3d 0, #c99f3d 51%, #c99f3d 100%);
    color: #333
}

.more-btn.pink {
    background: #F69;
    border: 0;
    box-shadow: 0 20px 43px 0 rgba(216, 58, 131, .32);
}

.info-btn {
    position: relative;
    z-index: 1;
    min-width: 160px;
    font-size: 18px;
    padding: 13px 20px;
    background: transparent;
    font-weight: 500;
    letter-spacing: 1px;
    display: inline-block;
    color: #fff;
}

.more-btn-group dl {
    width: 100%;
}

.more-btn-group dt {
    cursor: pointer;
    padding: 15px 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 0;
    color: #fff;
    font-weight: 500;
}

.more-btn-group dt:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.more-btn-group dd {
    margin: 0;
    padding: 15px 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.more-btn-group.hos dd {
    margin: -15px 30px 15px;
    padding: 15px 25px 0px;
    background: #fff;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.light-version .more-btn-group dt.v2 {
    background: #c99f3d;
}

.light-version .more-btn-group dt:first-child {
    border-top: 1px solid #f2f4f8;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.blog_thumbnail img {
    width: 100%;
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.page-link {
    color: rgb(128, 116, 116) !important;
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.05) !important;
    margin: 0 2px !important;
    border: 1px solid #222 !important;
    color: #333 !important;
    width: 40px !important;
    height: 40px !important;
    text-align: center !important;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    outline: none;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.wow-outer span {
    display: block;
}
.wow {
    backface-visibility: hidden;
}
.slideInDown {
    animation-name: slideInDown;
}
*, ::before, ::after {
    box-sizing: border-box;
}
.bg-gray-lighten {
    color: #74757f;
}
body {
    font-family: work sans,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 300;
    color: #151515;
    -webkit-text-size-adjust: none;
    letter-spacing: .03em;
    }
    .wow-outer {
    position: relative;
    overflow: hidden;
}
h4 + p, .heading-4 + p, h4 + .p, .heading-4 + .p {
    margin-top: 16px;
}
* + p, * + .list-inline-comma {
    margin-top: 16px;
}
p {
    margin: 0;
        margin-top: 0px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, ::before, ::after {
    box-sizing: border-box;
}
.text-center {
    text-align: center !important;
}
.bg-gray-lighten {
    color: #74757f;
}
body {
    font-family: work sans,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 300;
    color: #151515;
    -webkit-text-size-adjust: none;
    letter-spacing: .03em;
}
body {
    font-family: work sans,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #74757f;
    text-align: left;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #af8855;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1600px;
    --font-family-sans-serif: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
position
margin
border
padding
480×452.2
480×452.2
relative
box-sizing
border-box
display
block
float
none
line-height
32.3px
position
relative
offsetdiv.page.animated
    z-index
    auto
